header{
    height: 60px;
    color: white;
    line-height: 60px;
    font-weight: 600;
    font-size: 20px;
    font-family: "Open Sans", "微軟正黑體";
    .header_left{
        width: 15%;
        height: 60px;
        border: 1px red solid;
        text-align: center;
    }
    .header_mid{
        width: 70%;
        height: 60px;
        border: 1px red solid;
        text-align: center;
        margin: 0 auto;
        ul{
            width: 70%;
            text-align: center;
            margin: 0 auto;
            li{
                list-style: none;
                text-align: center;
                margin: 0 auto;
                padding-right: 4px;
                .dropdown-menu{
                    background-color: #131313;
                }
                a{
                    text-decoration: none;
                    color: white;
                }
                a:hover{
                    color:#007bff;
                }
            }
        }
    }
    .header_right{
        width: 15%;
        height: 60px;
        border: 1px red solid;
        text-align: center;
    } 
}