@charset "UTF-8";
header {
  max-width: 100vw;
  height: 65px;
  background: #131313;
  position: relative;
  font-family: "Open Sans", "微軟正黑體";
  color: white;
}

header .language {
  position: fixed;
  z-index: 20;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 20px;
  font-weight: 600;
}

header .language:hover {
  cursor: pointer;
  color: #5adbbb !important;
}

header .zhipin_icon_wrap {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .zhipin_icon_wrap .zhipin_icon {
  width: 55px;
  height: 55px;
  margin: 6px 15px 0px 20px;
}

header .zhipin_icon_wrap .logo_text {
  text-align: center;
  line-height: 80px;
  font-size: 14px;
  font-weight: 400;
}

header .zhipin_icon_wrap .zhipin_icon:hover,
header .zhipin_icon_wrap .logo_text:hover {
  cursor: pointer;
}

header .header_list_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 12px;
  position: absolute;
  top: 0%;
  right: 2%;
}

header .header_list_top li {
  padding: 8px 12px;
}

header .header_list_top li a {
  color: white;
  padding: 4px 0px;
  -webkit-text-decoration: black underline;
          text-decoration: black underline;
  font-weight: 500;
}

header .header_list_top li a:hover {
  color: #007bff;
  -webkit-text-decoration: #007bff underline;
          text-decoration: #007bff underline;
}

header .header_list_top li p {
  cursor: default;
}

header .header_list_top li .text_opacity:hover {
  opacity: 100%;
  cursor: pointer;
}

header .header_list_bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 14px;
  position: absolute;
  bottom: -60%;
  right: 0%;
}

header .header_list_bot li {
  padding: 8px 9px;
  z-index: 3;
}

header .header_list_bot li .tel,
header .header_list_bot li .contact {
  color: white;
  font-weight: 600;
}

header .header_list_bot li .tel:hover,
header .header_list_bot li .contact:hover {
  text-decoration: none;
  cursor: default;
}

header .header_list_bot li .text_opacity {
  opacity: 30%;
  cursor: pointer;
}

header .header_list_bot li .bot {
  color: white;
  font-weight: 400;
  padding: 1px;
}

header .header_list_bot li .bot:hover {
  color: #007bff;
  text-decoration: none;
}

header .header_list_bot li .blue {
  color: #007bff;
}

header .header_list_bot li .dropdown-toggle::after {
  -webkit-transform: translateY(3px) scale(0.8);
          transform: translateY(3px) scale(0.8);
}

header .header_list_bot li .dropdown-menu {
  background: #13131380;
  -webkit-transform: scale(0.84) translate(-18%, -10%);
          transform: scale(0.84) translate(-18%, -10%);
}

header .header_list_bot li .dropdown-menu a {
  color: white;
}

header .header_list_bot li .dropdown-menu a:hover {
  color: #007bff;
}

header .header_list_bot li .dropdown-menu .dropdown-item:hover {
  background: #131313;
}

header .header_list_bot li .dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

header .header_list_bot li .dropdown:hover .dropdown-menu {
  display: block;
}

header .header_list_bot_600 {
  display: none;
}

header .menu {
  width: 30px;
  height: 30px;
  display: none;
}

@media screen and (max-width: 600px) {
  header .en {
    font-size: 10px;
  }
  header .zhipin_icon_wrap .zhipin_icon {
    width: 100px;
    height: auto;
    display: block;
    margin: auto;
  }
  header .zhipin_icon_wrap .logo_text {
    display: none;
  }
  header .header_list_top {
    display: none;
  }
  header .header_list_bot li {
    display: none;
  }
  header .header_list_bot .menu {
    display: block;
    position: relative;
  }
  header .header_list_bot .menu:hover {
    cursor: pointer;
  }
  header .header_list_bot_600 {
    z-index: 10;
    background: rgba(110, 110, 110, 0.658);
    width: 180px;
    list-style: none;
    position: absolute;
    right: 0;
    top: 100%;
    font-size: 14px;
  }
  header .header_list_bot_600 a {
    color: white;
  }
  header .header_list_bot_600 a:hover {
    color: #5adbbb;
    text-decoration: none;
  }
}

.mainIndex {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.85)), to(rgba(0, 0, 0, 0.85))), url(../img/PXL_20201216_093128501.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../img/PXL_20201216_093128501.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  max-width: 960px;
  margin: 0 auto;
}

.mainIndex header {
  background: none;
}

.mainIndex header .logo_text {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin: -10px 20px 0;
}

.mainIndex main {
  height: 680px;
}

.mainIndex main .main-icon {
  -webkit-transform: scale(7.7);
          transform: scale(7.7);
  margin: 230px auto 320px;
  opacity: 0.8;
}

.mainIndex main .svg_box {
  width: 100%;
  height: 240px;
}

.mainIndex main .svg_box .svgWrap {
  -webkit-transform: translateX(-105px);
          transform: translateX(-105px);
  opacity: 0.7;
}

.mainIndex main .svg_box .svgWrap .mainSvg {
  width: 100%;
}

.mainIndex main .svg_box .svgWrap .svgText {
  color: #aaaaaa;
  font-size: 12px;
  margin-top: 15px;
}

.mainIndex main .svg_box .svgWrap:hover {
  opacity: 1;
  cursor: pointer;
}

.mainIndex main .svg_box .svgWrap1 {
  margin-left: 50px;
}

.mainIndex main .svg_box .svgWrap2 {
  -webkit-transform: translateY(-7%) translateX(-45px) scale(0.8);
          transform: translateY(-7%) translateX(-45px) scale(0.8);
}

.mainIndex main .svg_box .svgWrap3 {
  -webkit-transform: translateY(7%) translateX(15px);
          transform: translateY(7%) translateX(15px);
}

.mainIndex main .svg_box .svgWrap4 {
  -webkit-transform: translateY(1%) translateX(75px);
          transform: translateY(1%) translateX(75px);
}

.mainIndex footer {
  background: none;
  color: #aaaaaa;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  font-weight: lighter;
  text-align: center;
}

.mainIndex footer .footerText1 {
  font-size: 16px !important;
}

.mainIndex footer .footerText2 {
  margin-right: 15px;
}

footer {
  font-family: "Open Sans", "微軟正黑體";
  max-width: 100vw;
  height: 200px;
  background: #f4f6f8;
  color: #717474;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

footer .en,
footer .zh-tw,
footer .logo_img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

footer .logo_img {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

footer .s-icon {
  -webkit-transform: translateY(-0.2vh) scale(0.6) translateX(-20px);
          transform: translateY(-0.2vh) scale(0.6) translateX(-20px);
}

footer .footer_title {
  font-size: 14px;
  margin-left: 20px;
}

footer .logo_img {
  margin-left: 20px;
}

footer .logo_img .logo_img_FB {
  width: 15px;
  margin-right: 20px;
  border-radius: 30%;
}

footer .logo_img a {
  text-decoration: none;
}

footer .logo_img .logo_img_IG,
footer .logo_img .logo_img_Twitter,
footer .logo_img .logo_img_Youtube {
  width: 30px;
  margin-right: 20px;
  border-radius: 30%;
}
/*# sourceMappingURL=main.css.map */