@charset "UTF-8";
header {
  height: 60px;
  color: white;
  background: #3e4141;
  line-height: 60px;
  font-size: 16px;
  font-weight: 600;
  width: 100vw;
  z-index: 10;
  position: fixed;
  font-family: "Open Sans", "微軟正黑體";
}

header .header_left {
  width: 15%;
  height: 60px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

header .header_left .zhipin_icon_wrap {
  position: relative;
}

header .header_mid {
  width: 70%;
  height: 60px;
  text-align: center;
  margin: 0 auto;
}

header .header_mid ul {
  width: 390px;
  text-align: center;
  margin: 0 auto;
}

header .header_mid ul li {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding-right: 4px;
}

header .header_mid ul li .dropdown-toggle::after {
  -webkit-transform: translate(-5px, 3px) scale(0.8);
          transform: translate(-5px, 3px) scale(0.8);
}

header .header_mid ul li .dropdown-menu {
  background-color: #3e4141;
  border: none;
  margin-top: -20px;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

header .header_mid ul li .dropdown-menu .dropdown-item {
  padding: 0 10px 5px 10px;
  height: 30px;
  line-height: 30px;
}

header .header_mid ul li .dropdown-menu .dropdown-item:hover {
  background-color: #3e4141;
}

header .header_mid ul li .dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

header .header_mid ul li .dropdown:hover .dropdown-menu {
  display: block;
}

header .header_mid ul li a {
  text-decoration: none;
  color: white;
}

header .header_mid ul li a:hover {
  color: #007bff;
}

header .header_right {
  width: 15%;
  height: 60px;
  text-align: center;
}

header .header_right .text_opacity {
  opacity: 30%;
  cursor: pointer;
}

header .header_right .languageEn:hover,
header .header_right .languageZh:hover {
  opacity: 100%;
}

@media screen and (max-width: 700px) {
  header {
    width: 100vw;
    height: 65px;
    background: #131313;
    position: fixed;
    font-family: "Open Sans", "微軟正黑體";
    color: white;
    z-index: 10;
  }
  header .language {
    position: fixed;
    z-index: 20;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 20px;
    font-weight: 600;
  }
  header .language:hover {
    cursor: pointer;
    color: #5adbbb !important;
  }
  header .zhipin_icon_wrap {
    -webkit-transform: translateY(18px);
            transform: translateY(18px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .zhipin_icon_wrap .zhipin_icon {
    width: 48px;
    height: 48px;
    margin: 6px 0px 0px 15px;
  }
  header .zhipin_icon_wrap .logo_text {
    text-align: center;
    line-height: 74px;
    font-size: 12px;
    font-weight: 400;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  header .zhipin_icon_wrap .zhipin_icon:hover,
  header .zhipin_icon_wrap .logo_text:hover {
    cursor: pointer;
  }
  header .header_list_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    font-size: 12px;
    position: absolute;
    top: 0%;
    right: 2%;
  }
  header .header_list_top li {
    padding: 8px 12px;
  }
  header .header_list_top li a {
    color: white;
    padding: 4px 0px;
    -webkit-text-decoration: black underline;
            text-decoration: black underline;
    font-weight: 500;
  }
  header .header_list_top li a:hover {
    color: #007bff;
    -webkit-text-decoration: #007bff underline;
            text-decoration: #007bff underline;
  }
  header .header_list_top li p {
    cursor: default;
  }
  header .header_list_top li .text_opacity:hover {
    opacity: 100%;
    cursor: pointer;
  }
  header .header_list_bot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    font-size: 12px;
    position: absolute;
    bottom: -60%;
    right: 2%;
  }
  header .header_list_bot li {
    padding: 8px 3px;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    z-index: 3;
  }
  header .header_list_bot li .tel,
  header .header_list_bot li .contact {
    color: white;
    font-weight: 600;
  }
  header .header_list_bot li .tel:hover,
  header .header_list_bot li .contact:hover {
    text-decoration: none;
    cursor: default;
  }
  header .header_list_bot li .text_opacity {
    opacity: 30%;
    cursor: pointer;
  }
  header .header_list_bot li .bot {
    color: white;
    font-weight: 400;
    padding: 1px;
  }
  header .header_list_bot li .bot:hover {
    color: #007bff;
    text-decoration: none;
  }
  header .header_list_bot li .blue {
    color: #007bff;
  }
  header .header_list_bot li .dropdown-toggle::after {
    -webkit-transform: translateY(3px) scale(0.8);
            transform: translateY(3px) scale(0.8);
  }
  header .header_list_bot li .dropdown-menu {
    background: #13131380;
    -webkit-transform: scale(0.84) translate(-18%, -10%);
            transform: scale(0.84) translate(-18%, -10%);
  }
  header .header_list_bot li .dropdown-menu a {
    color: white;
  }
  header .header_list_bot li .dropdown-menu a:hover {
    color: #007bff;
  }
  header .header_list_bot li .dropdown-menu .dropdown-item:hover {
    background: #131313;
  }
  header .header_list_bot li .dropdown-menu li:hover .sub-menu {
    visibility: visible;
  }
  header .header_list_bot li .dropdown:hover .dropdown-menu {
    display: block;
  }
  header .header_list_bot_600 {
    display: none;
  }
  header .menu {
    width: 30px;
    height: 30px;
    display: none;
  }
}

@media screen and (max-width: 700px) and (max-width: 600px) {
  header .en {
    font-size: 10px;
  }
  header .zhipin_icon_wrap .zhipin_icon {
    width: 100px;
    height: auto;
    display: block;
    margin: auto;
  }
  header .zhipin_icon_wrap .logo_text {
    display: none;
  }
  header .header_list_top {
    display: none;
  }
  header .header_list_bot li {
    display: none;
  }
  header .header_list_bot .menu {
    display: block;
    position: relative;
  }
  header .header_list_bot .menu:hover {
    cursor: pointer;
  }
  header .header_list_bot_600 {
    z-index: 10;
    background: rgba(110, 110, 110, 0.658);
    width: 180px;
    list-style: none;
    position: absolute;
    right: 0;
    top: 100%;
    font-size: 14px;
  }
  header .header_list_bot_600 a {
    color: white;
  }
  header .header_list_bot_600 a:hover {
    color: #5adbbb;
    text-decoration: none;
  }
}

.carousel {
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
  margin-bottom: 60px;
  font-family: "Open Sans", "微軟正黑體";
}

.carousel .carousel-indicators li {
  width: 30px;
  height: 10px;
  border-radius: 100%;
  background: #007bff;
  -webkit-transform: scale(0.2) translateY(12vh);
          transform: scale(0.2) translateY(12vh);
  margin-right: -15px;
}

.carousel .carousel-item {
  height: 385px;
}

.carousel .carousel-item1 {
  background: url(/images/LCEservice/laser-index.png) right 100% bottom 90%;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel .carousel-item2 {
  background: linear-gradient(180deg, #131313 0%, rgba(19, 19, 19, 0) 34%), linear-gradient(255deg, rgba(0, 60, 255, 0.4) 0%, rgba(146, 0, 255, 0.4) 100%), url(/img/PXL_20201216_093128501.jpg) right 100% bottom 50%;
  background-size: cover;
}

.carousel .carousel-item3 {
  background: linear-gradient(180deg, #131313 0%, rgba(19, 19, 19, 0) 34%), linear-gradient(255deg, rgba(0, 60, 255, 0.4) 0%, rgba(146, 0, 255, 0.4) 100%), url(/img/PXL_20201216_093128501.jpg) right 100% bottom 50%;
  background-size: cover;
}

.carousel .carousel-item img {
  min-height: 540px;
  max-height: 1600px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translateY(-35%);
          transform: translateY(-35%);
}

.carousel .start_your_project {
  width: 160px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  background: #0063c5;
  border-radius: 30px;
  position: absolute;
  padding: 0px -10px;
  font-weight: 600;
  top: calc(50% - 25px);
  left: calc(50% - 65px);
  z-index: 10;
}

.carousel .start_your_project a {
  color: white;
}

.carousel .start_your_project a:hover {
  text-decoration: none;
}

.carousel .mainTitle {
  padding: 0 5px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  background: #3e414171;
  position: absolute;
  top: 12px;
  left: 8%;
  padding: 0px -10px;
  font-weight: 600;
  z-index: 10;
}

.carousel .mainTitle a {
  color: white;
}

.carousel .mainTitle a:hover {
  text-decoration: none;
}

.carousel .start_your_project:hover {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #0070e0;
}

@media screen and (max-width: 700px) {
  .carousel {
    -webkit-transform: translateY(65px);
            transform: translateY(65px);
    font-family: "Open Sans", "微軟正黑體";
  }
  .carousel .carousel-indicators li {
    width: 30px;
    height: 10px;
    border-radius: 100%;
    background: #007bff;
    -webkit-transform: scale(0.2) translateY(12vh);
            transform: scale(0.2) translateY(12vh);
    margin-right: -15px;
  }
  .carousel .carousel-item {
    height: 250px;
  }
  .carousel .carousel-item1 {
    background: -webkit-gradient(linear, left top, left bottom, from(#131313), color-stop(45%, rgba(19, 19, 19, 0))), url(/images/LCEservice/Laser_cutting_index.jpg) right 100% bottom 50%;
    background: linear-gradient(180deg, #131313 0%, rgba(19, 19, 19, 0) 45%), url(/images/LCEservice/Laser_cutting_index.jpg) right 100% bottom 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(1);
  }
  .carousel .carousel-item2 {
    background: linear-gradient(180deg, #131313 0%, rgba(19, 19, 19, 0) 34%), linear-gradient(255deg, rgba(0, 60, 255, 0.4) 0%, rgba(146, 0, 255, 0.4) 100%), url(/img/PXL_20201216_093128501.jpg) right 100% bottom 50%;
    background-size: cover;
  }
  .carousel .carousel-item3 {
    background: linear-gradient(180deg, #131313 0%, rgba(19, 19, 19, 0) 34%), linear-gradient(255deg, rgba(0, 60, 255, 0.4) 0%, rgba(146, 0, 255, 0.4) 100%), url(/img/PXL_20201216_093128501.jpg) right 100% bottom 50%;
    background-size: cover;
  }
  .carousel .carousel-item img {
    min-height: 540px;
    max-height: 1600px;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
  }
  .carousel .start_your_project {
    width: 160px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    background: #0063c5;
    border-radius: 30px;
    position: absolute;
    padding: 0px -10px;
    font-weight: 600;
    top: calc(50% - 25px);
    left: calc(50% - 65px);
    z-index: 10;
  }
  .carousel .start_your_project a {
    color: white;
  }
  .carousel .start_your_project a:hover {
    text-decoration: none;
  }
  .carousel .start_your_project:hover {
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: #0070e0;
  }
}

.LaserCutting {
  height: 1000px;
  margin: 20px auto 0;
  font-family: "Open Sans", "微軟正黑體";
}

.LaserCutting .toggle {
  position: fixed;
  top: 100px;
  right: 0px;
  border-radius: 20px;
  opacity: 0.5;
  background-color: #1d1d1f;
}

.LaserCutting .toggle .toggle-on {
  background-color: #1d1d1f;
}

.LaserCutting .toggle .toggle-off {
  background-color: #e9e9e9;
}

.LaserCutting .title {
  border: 1px solid red;
  font-weight: 600;
  margin: 0 8%;
  font-size: 24px;
}

.LaserCutting .main {
  border: 1px solid red;
  height: 1000px;
  width: 100%;
  margin: 0px auto 0;
  color: black;
}

.LaserCutting .main .ourService {
  border: 1px solid #73ff00;
  height: 270px;
  width: 100%;
  margin: 0 auto;
}

.LaserCutting .main .ourService .boxWrap {
  border: 1px solid red;
  height: 250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto 0;
}

.LaserCutting .main .ourService .boxWrap .box {
  border: 1px solid red;
  height: 250px;
  width: 25%;
  margin: 0 auto;
}

.LaserCutting .main .ourService .boxWrap .box .box_img {
  border: 1px solid black;
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.LaserCutting .main .ourService .boxWrap .box .box_img img {
  max-width: 100%;
  height: auto;
  margin: 0 auto 0;
}

.LaserCutting .main .ourService .boxWrap .box .box_img .mask {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(101, 101, 101, 0.6);
  color: #ffffff;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.LaserCutting .main .ourService .boxWrap .box .box_img a:hover .mask {
  opacity: 0.8;
}

.LaserCutting .main .ourService .boxWrap .box .box_text {
  text-align: center;
  font-size: 12px;
  margin: -10% auto 0;
}

.LaserCutting .main .start_your_project {
  border: 1px solid red;
  height: 620px;
  width: 80%;
  margin: -80px auto 5%;
}

.LaserCutting .main .start_your_project .boxWrap {
  border: 1px solid red;
  height: 250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0% auto 15%;
}

.LaserCutting .main .start_your_project .boxWrap .box {
  border: 1px solid red;
  height: 250px;
  width: 20%;
  margin: 0 auto;
  position: relative;
}

.LaserCutting .main .start_your_project .boxWrap .box .box_img {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.LaserCutting .main .start_your_project .boxWrap .box .box_img img,
.LaserCutting .main .start_your_project .boxWrap .box .box_img svg {
  max-width: 100%;
  height: auto;
  margin: 30px auto 0;
  position: absolute;
  bottom: -16%;
}

.LaserCutting .main .start_your_project .boxWrap .box .box_img .svg_laserFile:hover {
  fill: #0071e3;
  cursor: pointer;
}

.LaserCutting .main .start_your_project .boxWrap .box .box_img .svg_laserFile:hover .box_text_content_okay {
  background-color: red;
}

.LaserCutting .main .start_your_project .boxWrap .box .box_img .svg_noFile:hover {
  fill: #0071e3;
  cursor: pointer;
}

.LaserCutting .main .start_your_project .boxWrap .box .box_img .svg_coworkshop {
  max-width: 100%;
  height: auto;
  margin: 30px auto 0;
  position: absolute;
  bottom: -8%;
}

.LaserCutting .main .start_your_project .boxWrap .box .box_img .svg_3d_printing {
  max-width: 100%;
  height: auto;
  margin: 30px auto 0;
  position: absolute;
}

.LaserCutting .main .start_your_project .boxWrap .box .box_img .S,
.LaserCutting .main .start_your_project .boxWrap .box .box_img .M,
.LaserCutting .main .start_your_project .boxWrap .box .box_img .L {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.LaserCutting .main .start_your_project .boxWrap .box .box_img1 {
  border: 1px solid black;
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

.LaserCutting .main .start_your_project .boxWrap .box .box_img1 img,
.LaserCutting .main .start_your_project .boxWrap .box .box_img1 svg {
  max-width: 50%;
  height: auto;
  margin: 30px auto 0;
  position: absolute;
  bottom: 50%;
}

.LaserCutting .main .start_your_project .boxWrap .box .box_img2 {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.LaserCutting .main .start_your_project .boxWrap .box .box_img2 img,
.LaserCutting .main .start_your_project .boxWrap .box .box_img2 svg {
  max-width: 50%;
  height: auto;
  margin: 30px auto 0;
  position: absolute;
  bottom: -8%;
  left: 5%;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.LaserCutting .main .start_your_project .boxWrap .box .box_img2 .svg_noFile {
  max-width: 50%;
  height: auto;
  margin: 30px auto 0;
  position: absolute;
  bottom: -8%;
  left: 45%;
}

.LaserCutting .main .start_your_project .boxWrap .box .box_text {
  text-align: center;
}

.LaserCutting .main .start_your_project .boxWrap .box .box_text .box_text_title {
  font-size: 14px;
  font-weight: 600;
  margin: 6% auto;
}

.LaserCutting .main .start_your_project .boxWrap .box .box_text .box_text_content {
  width: 76%;
  font-size: 12px;
  -webkit-transform: translateX(12%);
          transform: translateX(12%);
  margin-top: 5%;
}

.LaserCutting .main .start_your_project .boxWrap .box1 {
  border: 1px solid red;
  height: 250px;
  width: 5%;
  margin: 0 auto;
  position: relative;
}

.LaserCutting .main .other_services {
  border: 1px solid red;
  height: 270px;
  width: 80%;
  margin: -5% auto 5%;
}

.LaserCutting .main .other_services .boxWrap {
  border: 1px solid red;
  height: 250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0% auto 0;
}

.LaserCutting .main .other_services .boxWrap .box {
  border: 1px solid red;
  height: 250px;
  width: 20%;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}

.LaserCutting .main .other_services .boxWrap .box .box_img {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.LaserCutting .main .other_services .boxWrap .box .box_img img,
.LaserCutting .main .other_services .boxWrap .box .box_img svg {
  max-width: 100%;
  height: auto;
  margin: 0 auto -50px;
  position: absolute;
  bottom: 20%;
}

.LaserCutting .main .other_services .boxWrap .box .box_text {
  text-align: center;
}

.LaserCutting .main .other_services .boxWrap .box .box_text .box_text_title {
  font-size: 14px;
  font-weight: 600;
  margin: 0 auto;
}

.LaserCutting .main .other_services .boxWrap .box .box_text .box_text_content {
  width: 76%;
  font-size: 12px;
  -webkit-transform: translateX(12%);
          transform: translateX(12%);
  margin-top: 5%;
}

.LaserCutting .main .other_services .boxWrap .box1 {
  border: 1px solid red;
  height: 250px;
  width: 5%;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 700px) {
  .LaserCutting {
    height: 1000px;
    margin: 100px auto 0;
    font-family: "Open Sans", "微軟正黑體";
  }
  .LaserCutting .title {
    border: 1px solid red;
    font-weight: 600;
    margin: 10px 2% 40px;
    font-size: 12px;
  }
  .LaserCutting .main {
    border: 1px solid red;
    height: 900px;
    width: 100%;
    margin: 0px auto 0;
  }
  .LaserCutting .main .ourService {
    border: 1px solid #73ff00;
    height: 160px;
    width: 100%;
    margin: 0 auto;
  }
  .LaserCutting .main .ourService .boxWrap {
    border: 1px solid red;
    height: 160px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px auto 0;
  }
  .LaserCutting .main .ourService .boxWrap .box {
    border: 1px solid red;
    height: 160px;
    width: 25%;
    margin: 0 auto;
    padding: 0px 5px 0 5px;
  }
  .LaserCutting .main .ourService .boxWrap .box .box_img {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #f0f0f0;
    overflow: hidden;
  }
  .LaserCutting .main .ourService .boxWrap .box .box_img img {
    max-width: 100%;
    height: auto;
    margin: 0 auto 0;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  .LaserCutting .main .ourService .boxWrap .box .box_text {
    text-align: center;
    font-size: 12px;
    margin: -10% auto 0;
  }
  .LaserCutting .main .start_your_project {
    border: 1px solid red;
    height: 400px;
    width: 100%;
    margin: 0% auto 5%;
  }
  .LaserCutting .main .start_your_project .boxWrap {
    border: 1px solid red;
    height: 250px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0% auto 0%;
  }
  .LaserCutting .main .start_your_project .boxWrap .box {
    border: 1px solid red;
    height: 120px;
    width: 33%;
    margin: 0 auto;
    position: relative;
  }
  .LaserCutting .main .start_your_project .boxWrap .box .box_img {
    border: 1px solid black;
    width: 80%;
    height: 80%;
    margin: 0 auto;
  }
  .LaserCutting .main .start_your_project .boxWrap .box .box_img img,
  .LaserCutting .main .start_your_project .boxWrap .box .box_img svg {
    max-width: 80%;
    height: auto;
    margin: 30px auto 0;
    position: absolute;
    bottom: 0%;
  }
  .LaserCutting .main .start_your_project .boxWrap .box .box_img .svg_3d_printing {
    max-width: 80%;
    height: auto;
    margin: 30px auto 0;
    position: absolute;
    bottom: -8%;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .LaserCutting .main .start_your_project .boxWrap .box .box_img1 {
    border: 1px solid black;
    width: 50%;
    height: 50%;
    margin: 0 auto;
  }
  .LaserCutting .main .start_your_project .boxWrap .box .box_img1 img,
  .LaserCutting .main .start_your_project .boxWrap .box .box_img1 svg {
    max-width: 50%;
    height: auto;
    margin: 30px auto 0;
    position: absolute;
    bottom: 50%;
  }
  .LaserCutting .main .start_your_project .boxWrap .box .box_img2 {
    border: 1px solid black;
    width: 80%;
    height: 80%;
    margin: 0 auto;
  }
  .LaserCutting .main .start_your_project .boxWrap .box .box_img2 img,
  .LaserCutting .main .start_your_project .boxWrap .box .box_img2 svg {
    max-width: 40%;
    height: auto;
    margin: 30px auto 0;
    position: absolute;
    bottom: -8%;
    left: 15%;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .LaserCutting .main .start_your_project .boxWrap .box .box_img2 .svg_noFile {
    max-width: 40%;
    height: auto;
    margin: 30px auto 0;
    position: absolute;
    bottom: -8%;
    left: 45%;
  }
  .LaserCutting .main .start_your_project .boxWrap .box .box_text {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    text-align: center;
    width: 100%;
  }
  .LaserCutting .main .start_your_project .boxWrap .box .box_text .box_text_title {
    font-size: 14px;
    font-weight: 600;
    margin: 6% auto;
    white-space: nowrap;
  }
  .LaserCutting .main .start_your_project .boxWrap .box .box_text .box_text_content {
    font-size: 12px;
  }
  .LaserCutting .main .start_your_project .boxWrap .box1 {
    border: 1px solid red;
    height: 250px;
    width: 0%;
    margin: 0 auto;
    position: relative;
  }
  .LaserCutting .main .other_services {
    border: 1px solid red;
    height: 250px;
    width: 80%;
    margin: 0% auto 5%;
  }
  .LaserCutting .main .other_services .boxWrap {
    border: 1px solid red;
    height: 100px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0% auto 0;
  }
  .LaserCutting .main .other_services .boxWrap .box {
    border: 1px solid red;
    height: 100px;
    width: 33%;
    margin: 0 auto;
    position: relative;
  }
  .LaserCutting .main .other_services .boxWrap .box .box_img {
    border: 1px solid black;
    width: 70%;
    height: 70%;
    margin: 0 auto;
  }
  .LaserCutting .main .other_services .boxWrap .box .box_img img,
  .LaserCutting .main .other_services .boxWrap .box .box_img svg {
    max-width: 70%;
    height: auto;
    margin: 0px auto 0;
    position: absolute;
    bottom: 30%;
  }
  .LaserCutting .main .other_services .boxWrap .box .box_text {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    text-align: center;
    width: 100%;
  }
  .LaserCutting .main .other_services .boxWrap .box .box_text .box_text_title {
    font-size: 14px;
    font-weight: 600;
    margin: 6% auto;
    white-space: nowrap;
  }
  .LaserCutting .main .other_services .boxWrap .box .box_text .box_text_content {
    font-size: 12px;
  }
  .LaserCutting .main .other_services .boxWrap .box1 {
    border: 1px solid red;
    height: 250px;
    width: 0%;
    margin: 0 auto;
    position: relative;
  }
}

footer {
  font-family: "Open Sans", "微軟正黑體";
  max-width: 100vw;
  height: 200px;
  background: #f4f6f8;
  color: #717474;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

footer .logo_img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

footer .logo_img {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

footer .s-icon {
  -webkit-transform: translateY(-0.2vh) scale(0.6) translateX(-20px);
          transform: translateY(-0.2vh) scale(0.6) translateX(-20px);
}

footer .footer_title {
  font-size: 14px;
  margin-left: 20px;
}

footer .logo_img {
  margin-left: 20px;
}

footer .logo_img .logo_img_FB {
  width: 15px;
  margin-right: 20px;
  border-radius: 30%;
}

footer .logo_img a {
  text-decoration: none;
}

footer .logo_img .logo_img_IG,
footer .logo_img .logo_img_Twitter,
footer .logo_img .logo_img_Youtube {
  width: 30px;
  margin-right: 20px;
  border-radius: 30%;
}
/*# sourceMappingURL=Laser-Cutting-Engraving-Home.css.map */